html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* Add your styles below */

#p5-canvas {
  margin: 10px auto;
  width: 820px;
  height: 620px;
  border: 10px solid purple;
}